name: Running a Terraform Plan

on:
  workflow_dispatch:

env:
  AWS_REGION : "eu-west-2"

permissions:
      id-token: write  
      contents: read   

jobs:
  TerraformPlan:
    runs-on: ubuntu-24.04
    
    defaults:
      run:
        shell: bash
  
    steps:

      - name: Git clone the repository
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1.7.0
        with:
          role-to-assume: ${{ secrets.GitHubActionsRole }}
          role-session-name: GitHubActionsRole
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup TFLint     
        uses: terraform-linters/setup-tflint@v3
        with:
         tflint_version: latest
      
      - name: Init TFLint
        run: tflint --init
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}

      - name: Running Terraform commands
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.3"

      - name: Running a Terraform Init  
        run: terraform -chdir=terraform/infra init
        
      - name: Terraform Format
        run: terraform fmt
    
      - name: Terraform Lint
        run: tflint 

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14.2'

      - name: Terraform Plan (Checkov)
        run: |
          pip install checkov
          terraform -chdir=terraform/infra plan -out my-tf.plan
          terraform -chdir=terraform/infra show -json my-tf.plan | jq '.' > my-tf.json
          checkov -f my-tf.json --soft-fail 

      - name: Running a Terraform Plan
        run: terraform -chdir=terraform/infra plan -out=tfplan -input=false
      
      - name: Uploading Terraform Plan
        uses: actions/upload-artifact@v4
        with:
          name: tfplan
          path: ./





